$white: #ffffff;

//module TYPO

//module MAIN COLORS

//module BACKGROUND COLORS
$bg-sidebar: #716885;
$bg-active-row: #08C;

//module TEXT COLORS
$text-primary: #313338;
$text-content: #4d4d4d;
$text-secondary: #888888;
$text-sidebar: #b8b4c2;

//module BORDERS
$border-login: #ddd;

//module LISTS

//module FONT STYLES
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

%font-italic {
  font-weight: $font-regular;
  font-style: italic;
}

//bootstrap override
$font-family-base: 'Roboto', sans-serif !default;
$modal-sm: 400px !default;
$body-bg: #716885;