@import "../core/all";

//module USERNAME DROPDOWN
.user-avatar {
  width: 24px;
  height: 24px;
  margin: -5px 0 0 10px;
}

.username {
  padding: 0 20px;
  line-height: 40px;
  color: $text-secondary;
  font-size: 13px;

  &:hover {
    color: $white;

    .user:before {
      border-top-color: $white;
    }
  }
}

.user {
  position: relative;
  padding-right: 15px;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto 0;
    @include triangle (8px, $text-secondary, down);
  }
}

//module ADDITIONAL CLASSES
.full-width {
  width: 100%;
}

.col-center {
  margin: 0 auto;
  float: none !important;
}

.align-center {
  text-align: center;
}

//module HEADER
.content-header {
  margin-bottom: 15px;
}

//module BUTTON GROUP
.btn-group {
  .glyphicon {
    margin-right: 3px;
    font-size: 12px;
  }

  .btn-default {
    background-color: lighten(#e6e6e6, 8%);
    font-weight: $font-medium;
  }
}

.row-with-buttons {
  position: relative;
  padding-right: 48px;
}

.btn-holder {
  position: absolute;
  bottom: 0;
  right: 0;
}

.hide {
  display: none;
}

.modal-open {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    background-color: #000;
    opacity: 0.5;
  }
}

.modal-backdrop {
  background-color: transparent !important;
}

.legend-no-border {
  padding: 0;
  margin-bottom: 5px;
  border: 0;
}