@import "../core/all";

//module USERNAME DROPDOWN
.user-avatar {
  width: 24px;
  height: 24px;
  margin: -5px 0 0 10px;
}

.username {
  padding: 0 20px;
  line-height: 40px;
  color: $text-secondary;
  font-size: 13px;
  background: transparent;
  border: 0;

  &:hover {
    color: $white;

    .user:before {
      border-top-color: $white;
    }
  }
}

.dropdown {
  &.open {
    .username {
      color: $white;
    }

    .user {
      &:before {
        border-top-color: $white;
      }
    }
  }
}

.dropdown-menu {
  border-radius: 0 !important;
  left: inherit !important;
  right: 15px;
  margin: 0 !important;

  &:before {
    content: '';
    @include triangle (15px, $white, up);
    position: absolute;
    right: 8px;
    top: -7.5px;
  }
}

.user {
  position: relative;
  padding-right: 15px;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto 0;
    @include triangle (8px, $text-secondary, down);
  }
}

//module ADDITIONAL CLASSES
.full-width {
  width: 100%;
}

.col-center {
  margin: 0 auto;
  float: none !important;
}

.align-center {
  text-align: center;
}

//module HEADER
.content-header {
  margin-bottom: 15px;

  .checkbox {
    margin-bottom: 25px;
  }
}

//module BUTTON GROUP
.btn-group {
  .glyphicon {
    margin-right: 3px;
    font-size: 12px;
  }

  .btn-default {
    background-color: lighten(#e6e6e6, 8%);
    font-weight: $font-medium;
  }
}

.row-with-buttons {
  position: relative;
  padding-right: 48px;
}

.btn-holder {
  position: absolute;
  bottom: 0;
  right: 0;
}

.hide {
  display: none;
}

.modal-open {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    background-color: #000;
    opacity: 0.5;
  }
}

.modal-backdrop {
  background-color: transparent !important;
}

.legend-no-border {
  padding: 0;
  margin-bottom: 5px;
  border: 0;
}

.filter-border {
  border-right: 1px solid #4A4A4A;
}

.nav-tabs {
  margin-top: 20px;
  li.active {
    > a,
    a:hover,
    a:focus {
      background-color: $white !important;
      color: $text-content !important;
      border-top: solid 2px $border-active-tab !important;
    }
  }

  > li {
    > a {
      border-radius: 0 !important;
    }
  }
}

.tab-content {
  border: solid 1px #ddd;
  border-top: 0;
}

.tab-pane {
  padding: 25px 15px;
}

.filter-row {
  margin-bottom: 30px;
}

.pagination {
  &.sm-margin-top {
    margin-top: 5px;
  }

  &.no-margin-top {
    margin-top: 0;
  }

  &.no-margin-bottom {
    margin-bottom: 0;
  }
}