@import "../../core/all";

.login-page {
  background-color: #e6e7e8;
}

.login-container {
  padding: 20px;
  margin-top: 30px;
  background-color: $white;
  border: solid 1px $border-login;
  border-top: solid 2px #337ab7;
}

.input-group-addon {
  font-size: 12px;
  &.glyphicon {
    top: 0;
  }
}

.brand {
  color: $text-secondary;
  text-transform: uppercase;
  font-weight: $font-medium;
  margin-top: 30px;
}

.bottom-row {
  background-color: #f7f8fa;
  border-top: solid 1px $border-login;
  margin: 20px -20px -20px;
  padding: 15px 20px 15px;
}